*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
    width: 100%;
}
h1{
    text-align: center;
    font-size: 2em;
    width: 90%;
    padding: 5px;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.logo{
    flex-grow: 8;
}
.inicio{
    flex-grow: 1;
}
.sesion{
    flex-grow: 1;
}
a:hover{
    color: #26AE61;
    border-bottom: 1px solid rgba(0, 255, 30, 0.3);
    box-shadow: 0 1px rgba(0,0,0,0.3);
}
form{
    margin: 35px auto;
    width: 90%;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}
.form{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
div > *{
    margin: 2%;
}
input, select{
    background-color: #26ae6130;
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
input:focus{
    outline: 2px solid #26AE61;
    border: none;
}
select:focus{
    outline: 2px solid #26AE61;
    border: none;
}
#enviar{
    cursor: pointer;
    padding: 5px;
    width: 90%;
    margin: 2%;
    background-color: rgb(35, 125, 204);
    color: white;
    border-radius: 15px;
    box-shadow: 0 3px rgba(0,0,0,0.3);
    outline: none;
}
#enviar:hover{
    background-color: rgba(49, 130, 200);
}
#enviar:active{
    box-shadow: none;
    transform: translateY(3px);
}

span{
    display: none;
    margin-top: -2%;
    margin-bottom: 0%;
}
p{
    color: red;
    font-size: 12px;
}