*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
h1,p{
    text-align-last: center;
    margin-left: 50px;
}
body{
    background: #f6f6f6;
}
.registro{
	width: 400px;
	background: #ffffff;
	padding: 30px;
	margin: auto;
	margin-top: 30px;
    margin-block-end: 30px;
	border-radius:4px;	
	font-family: 'calibri';
	color: BLACK;
    box-shadow: 0 4px 9px 0px rgb(0, 0, 0);

}
.control{
		width: 100%;
		background: rgba(194, 231, 217, 0.705);
		padding: 10px;
		border-radius:2px;
		margin-bottom: 16px;
		font-family: 'calibri';
		font-size: 18px;
}
.boton{
		width: 100% ;
		background:rgb(119, 175, 156);
		border: none;
		padding: 10px;
		color: rgb(245, 244, 244);
		margin: 10px 0;
		font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
}
.boton:hover{
        color: rgba(194, 231, 217, 0.705);;
        background-color: rgba(109, 139, 128, 0.89);;
        text-decoration: none;
}
.container{
	width: 1100px;
	display:flex;
	flex-direction: row;
	margin-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.slogan{
    width: 100%;
    height: 200px;
    position: relative;
    background-image: url(https://moodledanu.uleam.edu.ec/pluginfile.php/1/theme_klass/footerlogo/1632838115/logo_ULEAM_2017_horizontal.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 25px -22px rgb(0, 0, 0);
}

.slogan:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(194, 231, 217, 0.521);
    position: absolute;
    top: 0;
    left: 0;
}

.slogan1{
    max-width: 500px;
    height: 170px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.slogan1 h1{
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.slogan1 p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
}
#Funciones{
        height: 150px;
        margin-bottom: 16px;
        color: var(--verde)
}
#Requisitos{
    height: 150px;
    margin-bottom: 16px;
    color: var(--verde)
}
.notification {
    align-items: center;
    background-color: var(--verde);
    border-radius: 5px;
    box-shadow: 8px 16px 32px 0px var(--shadow);
    color: var(--blanco);
    display: none;
    font-family: var(--secondary-font);
    height: 50px;
    justify-content: center;
    position: fixed;
    right: 24px;
    top: 24px;
    width: 300px;
  }